<div class="clr-row">
    <div class="card clr-col-lg-4">
        <div class="card-block">
        <h4 class="card-title">Chevrolet</h4>
        </div>
        <div class="card-block">
        <h4 class="card-title">Chevrolet Joy Sedán</h4>
        </div>
        <div class="card-block">
        <h4 class="card-title">$490.490.000</h4>
        </div>
        <div class="card-img">
            <img src="../../../../assets/imagenes/chevrolet-joy-sedan-carro-moderno-azul.jpg" />
        </div>
    </div>
    <div class="card clr-col-lg-4">
        <div class="card-block">
        <h4 class="card-title">KWID</h4>
        </div>
        <div class="card-block">
        <h4 class="card-title">Renault</h4>
        </div>
        <div class="card-block">
        <h4 class="card-title">$430.400.000</h4>
        </div>
        <div class="card-img">
            <img src="../../../../assets/imagenes/26384d3587.webp" />
        </div>
    </div>
    <div class="card clr-col-lg-4">
        <div class="card-block">
        <h4 class="card-title">BMW iX</h4>
        </div>
        <div class="card-block">
        <h4 class="card-title">BMW</h4>
        </div>
        <div class="card-block">
        <h4 class="card-title">$419.900.000</h4>
        </div>
        <div class="card-img">
            <img src="../../../../assets/imagenes/cq5dam.resized.img.585.low.time1622052548701.jpg" />
        </div>
    </div>
</div>
