<div class="main-container">
  <header class="header header-4">
    <div class="branding">
      <a routerLink="/">
        <img src="../imagenes/icono-coche-azul-juguete-dibujos-animados-lindo-vehiculo-urbano-aislado-sobre-fondo-blanco_176411-2829 (1).jpg" alt="">
        <span class="title">PRIMER PARCIAL DESARROLLO WEB - JOSE OCAMPO</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
        
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <a routerLink="user/presentacion" class="nav-link">PRESENTACION</a>
        <a routerLink="user/vista1" class="nav-link">VISTA 1</a>
        <a routerLink="user/vista2" class="nav-link">VISTA 2</a>
      </section>
    </nav>
  </div>
</div>

